body {
    background: floralwhite;
    font-family: sans-serif;
}

a, a:visited {
    color: blue;
}

a:hover {
    color: navy;
}

nav {
    max-width: 1024px;
    margin: 0 auto;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

#content {
    background: white;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 20px;
}
